/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21/05/2019, 3:28:30 PM
    Author     : alexg
*/

form {
  border: 3px solid #f1f1f1;
}

#frm {
  padding: 16px;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}


/*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/* The header css codes*/
#header{
    width:100%;
    height: 160px;
    margin:0 auto;
    border-top: 6px solid gray;
    background-color:#cccccc;
    text-align: center;
    background-image: url("images/banner-img.jpg");
    background-repeat: no-repeat;
    background-size: 100% 160px;
}

/* The content css codes*/
#wrapper{
  background-color: #666666;
  min-height: 100%;
  height: auto !important;
  margin-bottom: -50px; 
}
#wrapper:after {
  content: "";
  display: block;
  height: 50px; /* the footer's total height */
}

#content{

    height: 100%;

}

/* The footer css codes
#footer-area{
    /*width: 100%;
    height:60px;
    display: block;
    position: absolute;
    background-color: #333;
    color: white;
    padding-bottom: 0;
    
}
*/
#footer{
  height: 50px; /* the footer's total height */
}

#footer-content {
  background-color: #f3e5f5;
  border: 1px solid #ab47bc;
  height: 32px; /* height + top/bottom paddding + top/bottom border must add up to footer height */
  padding: 8px;
}